<nz-form-item>
    <nz-form-label
            *ngIf="to.label"
            [class]="label_class"
            [nzRequired]="to.required"
            [nzFor]="id"
            style="font-size: 12px;">
        {{ to.label }}
    </nz-form-label>
    <nz-form-control [class]="control_class" [nzValidateStatus]="showError?'error':''">
        <ng-template #fieldComponent></ng-template>
        <nz-form-explain *ngIf="showError">
            <formly-validation-message [field]="field"></formly-validation-message>
        </nz-form-explain>
        <nz-form-extra *ngIf="to.description">{{ to.description }}</nz-form-extra>
    </nz-form-control>
</nz-form-item>